<table>
  <thead>
    <tr>
      <th>Taken on</th>
      <th>Hb</th>
      <th>MCV</th>
      <th>WBC</th>
      <th>Platelets</th>
      <th>Neutrophils</th>
      <th>Lymphocytes</th>
      <th>ALT</th>
      <th>Alk Phos</th>
      <th>Creatinine</th>
      <th>ESR</th>
      <th>CRP</th>
    </tr>
  </thead>
  <tbody>
  <% @blood_tests.each do |test| %>
    <tr>
      <td><%= test.taken_on %></td>
      <td><%= test.hb %></td>
      <td><%= test.mcv %></td>
      <td><%= test.wbc %></td>
      <td><%= test.platelets %></td>
      <td><%= test.neutrophils %></td>
      <td><%= test.lymphocytes %></td>
      <td <%= "class=danger" unless test.has_healthy_alt? %>><%= test.alt %></td>
      <td><%= test.alk_phos %></td>
      <td><%= test.creatinine %></td>
      <td><%= test.esr %></td>
      <td><%= test.crp %></td>
    </tr>
  <% end %>
  </tbody>
</table>
