<h1>New Blood Test</h1>
<%= form_for @blood_test, html: {class: 'main-content'} do |form| %>
  <%= form.label 'taken_on' %>
  <%= form.date_field :taken_on %>
  <%= form.label :hb, 'Hb ('+BloodProbe::HEMOGLOBIN_UNIT+')' %>
  <%= form.number_field :hb, step: 0.1 %>
  <%= form.label :mcv, 'MCV ('+BloodProbe::MEAN_CELL_VOLUME_UNIT+')' %>
  <%= form.number_field :mcv, step: 0.1 %>
  <%= form.label :wbc, "WBC (#{BloodProbe::WHITE_BLOOD_CELLS_UNIT})".html_safe %>
  <%= form.number_field :wbc, step: 0.1 %>
  <%= form.label :platelets, "Platelets (#{BloodProbe::PLATELETS_UNIT})".html_safe %>
  <%= form.number_field :platelets, step: 0.1 %>
  <%= form.label :neutrophils, "Neutrophils (#{BloodProbe::NEUTROPHILS_UNIT})".html_safe %>
  <%= form.number_field :neutrophils, step: 0.1 %>
  <%= form.label :lymphocytes, "Lymphocytes (#{BloodProbe::LYMPHOCYTES_UNIT})".html_safe %>
  <%= form.number_field :lymphocytes, step: 0.1 %>
  <%= form.label :alt, 'ALT ('+BloodProbe::ALANINE_AMINOTRANSFERASE_UNIT+')' %>
  <%= form.number_field :alt, step: 0.1 %>
  <%= form.label :alk_phos, 'Alk Phos ('+BloodProbe::ALKALINE_PHOSPHATASE_UNIT+')' %>
  <%= form.number_field :alk_phos, step: 0.1 %>
  <%= form.label :creatinine, 'Creatinine ('+BloodProbe::CREATININE_UNIT+')' %>
  <%= form.number_field :creatinine, step: 0.1 %>
  <%= form.label :esr, 'ESR ('+BloodProbe::ERYTHROCYTE_SEDIMENTATION_RATE_UNIT+')' %>
  <%= form.number_field :esr, step: 0.1 %>
  <%= form.label :crp, 'CRP ('+BloodProbe::C_REACTIVE_PROTEIN_UNIT+')'  %>
  <%= form.text_field :crp %>

  <%= form.submit 'submit' %>
<% end %>
