<h1>Blood test for <%= @blood_test.taken_on.strftime("%d %b %Y") %></h1>
<article class="main-content blood-test-report">
  <section class="danger">
    <header>
      <h1>Results Out of Range</h1>
    </header>
    <% methods.each do |method| %>
      <% unless @probe.within_range?(method.to_sym) %>
        <p><%= method.gsub("_", " ") %>: <%= @blood_test.send(method.to_sym) %></p>
      <% end %>
    <% end %>
  </section>
  <section class="no-danger">
    <header>
      <h1>Results In Range</h1>
    </header>
    <% methods.each do |method| %>
      <% if @probe.within_range?(method.to_sym) %>
        <p><%= method.gsub("_", " ") %>: <%= @blood_test.send(method.to_sym) %></p>
      <% end %>
    <% end %>
  </section>
</article>