<!DOCTYPE html>
<html>
<head>
  <title>Soma</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul>
      <% flash[:errors].each do |error|%>
        <li class 'flash error'><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= flash[:notice]%>
  <%= yield %>
</body>
</html>
